<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsAsfmlVr-E-IomxnZu5mG0PkjOySFffM</string>
	<key>GCM_SENDER_ID</key>
	<string>505962464441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wardobeApp</string>
	<key>PROJECT_ID</key>
	<string>ivy-wardrobe</string>
	<key>STORAGE_BUCKET</key>
	<string>ivy-wardrobe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505962464441:ios:6666382f2098f0f6740768</string>
	<key>DATABASE_URL</key>
	<string>https://ivy-wardrobe-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>